@{
    ViewData["Title"] = "The Kings Congreation";
}
@model ResourcesViewModel

<section class="resources_sections">
    <div class="container">
        <h2>Deepen your understanding of God’s Word.</h2>
        <div class="inner_resources">
            <div class="sermons_section">
                <div class="resources_content">
                    <h5>Sermons</h5>
                    <a class="see_all" asp-controller="Sermons" asp-action="Index">
                        <span>See All <img src="/img/arrow-right 1.svg" alt=""></span>
                    </a>
                </div>

                @foreach (var s in Model.Sermons)
                {

                <div class="resources_values">
                    <div class="box_info">
                        <img src="/img/info-point 1.svg" alt="">
                    </div>
                    <div class="resources_data">
                        <a class="nounderline sermons_values" asp-controller="Sermons" asp-action="Detail" asp-route-id="@s.Id">
                            <span>@s.Passage</span>
                            <h4>@s.Title</h4>
                            <span>@s.Speaker</span>
                            <span class="dout">•</span>
                            <span>@s.DateCreated</span>
                        </a>
                    </div>
                </div>

                }
                
            </div>
            <div class="music_section">
                <div class="resources_content">
                    <h5>Music</h5>
                    <a class="see_all" asp-controller="Music" asp-action="Index">
                        <span>See All <img src="/img/arrow-right 1.svg" alt=""></span>
                    </a>
                </div>
                @foreach(var m in Model.Music)
                {
                <div class="resources_values">
                    <div class="box_info">
                        <img src="/img/phone-music 1.svg" alt="">
                    </div>
                    <div class="resources_data">

                        <a class="nounderline sermons_values" asp-controller="Music" asp-action="Detail" asp-route-id="@m.Id">
                            <h4>@m.Title</h4>
                        </a>

                        @if (!string.IsNullOrWhiteSpace(m.PdfUrl))
                        {
                            <a class="nounderline sermons_values" asp-controller="Music" asp-action="PDF" asp-route-id="@m.Id">
                                <span>PDF</span>
                            </a>
                            <span class="dout">•</span>
                        }
                        @if (!string.IsNullOrWhiteSpace(m.FileUrl))
                        {
                            <a class="nounderline sermons_values" asp-controller="Music" asp-action="MP3" asp-route-id="@m.Id">
                                <span>MP3</span>
                            </a>
                            <span class="dout">•</span>
                        }
                        <a class="nounderline sermons_values" asp-controller="Music" asp-action="Detail" asp-route-id="@m.Id">
                            <span>Video</span>
                        </a>
                    </div>
                </div>
                }
                
                
                <div class="resources_content">
                    <h5>ShortTakes</h5>
                    <a class="see_all" asp-controller="ShortTakes" asp-action="Index">
                        <span>See All <img src="/img/arrow-right 1.svg" alt=""></span>
                    </a>
                </div>
                <div class="resources_values">
                    <div class="box_info">
                        <img src="/img/mic-2 1.svg" alt="">
                    </div>
                    <div class="resources_data">
                        <a class="nounderline sermons_values" href="sermons_song.html">
                            <h4>Union with Christ</h4>
                            <span>Alan Burrow</span>
                            <span class="dout">•</span>
                            <span>May 14, 2023</span>
                        </a>
                    </div>
                </div>
                <div class="resources_values">
                    <div class="box_info">
                        <img src="/img/mic-2 1.svg" alt="">
                    </div>
                    <div class="resources_data">
                        <a class="nounderline sermons_values" href="sermons_song.html">
                            <h4>Spiritually Dead</h4>
                            <span>Alan Burrow</span>
                            <span class="dout">•</span>
                            <span>May 14, 2023</span>
                        </a>
                    </div>
                </div>
                <div class="resources_values">
                    <div class="box_info">
                        <img src="/img/mic-2 1.svg" alt="">
                    </div>
                    <div class="resources_data">
                        <a class="nounderline sermons_values" href="sermons_song.html">
                            <h4>The Ninth Commandment (Part 2)</h4>
                            <span>Alan Burrow</span>
                            <span class="dout">•</span>
                            <span>May 14, 2023</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*</div>*@
</section>

<section class="liturgy_section">
    <div class="container">
        <div class="inner_liurgy">
            <div class="Liturgy_content">
                <h1>Liturgy</h1>
                <p>See the structure of our worship service.</p>
                <a class="view_liturgy_btn" asp-controller="Home" asp-action="Liturgy">View Liturgy</a>
            </div>
            <div class="Liturgy_content">
                <h1>Livestream</h1>
                <p>
                    If you would like information about attending our Sunday worship service online, please contact the church
                    office for connection information.
                </p>
                <a class="view_liturgy_btn live" href="https://www.youtube.com/@@thekingscongregation5213/streams">Youtube <img src="/img/share-26 1.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>
