@{
    ViewData["Title"] = "The Kings Congreation";
}
@model StaffViewModel


@{
    int itemsPerGroup = 3;
    var GroupedElders = Enumerable.Range(0, (int)Math.Ceiling(Model.Elders.Count / (double)itemsPerGroup))
                                 .Select(i => Model.Elders.Skip(i * itemsPerGroup)
                                                  .Take(itemsPerGroup));
    var GroupedDeacons = Enumerable.Range(0, (int)Math.Ceiling(Model.Deacons.Count / (double)itemsPerGroup))
                                 .Select(i => Model.Deacons.Skip(i * itemsPerGroup)
                                                  .Take(itemsPerGroup));
    var GroupedSecretaries = Enumerable.Range(0, (int)Math.Ceiling(Model.Secretaries.Count / (double)itemsPerGroup))
                                 .Select(i => Model.Secretaries.Skip(i * itemsPerGroup)
                                                  .Take(itemsPerGroup));
}

<!-- about_back_img section end -->
<!-- beleive_section start -->
<section class="beleive_section">
    <div class="container">
        <h1 style="padding-bottom: 50px;">Meet our Staff</h1>

        <h2>Elders</h2>

        @foreach (var g in GroupedElders)
        {
            <div class="inner_boxes" style="padding: 0px 0px 20px 0px;">
                @foreach (var m in g)
                {
                    <div class="boxes_item">
                        <div class="icon_box">
                            <img src="/File/Staff/@m.PhotoUrl" alt="" style="border-radius: 50%;">
                        </div>
                        <h3>@m.Name</h3>
                        <p>
                            @m.Description
                        </p>
                    </div>
                }
            </div>
        }

        <h2>Deacons</h2>

        @foreach (var g in GroupedDeacons)
        {
            <div class="inner_boxes" style="padding: 0px 0px 20px 0px;">
                @foreach (var m in g)
                {
                    <div class="boxes_item">
                        <div class="icon_box">
                            <img src="/File/Staff/@m.PhotoUrl" alt="" style="border-radius: 50%;">
                        </div>
                        <h3>@m.Name</h3>
                        <p>
                            @m.Description
                        </p>
                    </div>
                }
            </div>
        }


        <h2>Secretary</h2>

        @foreach (var g in GroupedSecretaries)
        {
            <div class="inner_boxes" style="padding: 0px 0px 20px 0px;">
                @foreach (var m in g)
                {
                    <div class="boxes_item">
                        <div class="icon_box">
                            <img src="/File/Staff/@m.PhotoUrl" alt="" style="border-radius: 50%;">
                        </div>
                        <h3>@m.Name</h3>
                        <p>
                            @m.Description
                        </p>
                    </div>
                }
            </div>
        }

    </div>
</section>
<!-- beleive_section end -->
<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" href=""> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->
