@{
    ViewData["Title"] = "The Kings Congreation";
}
@model MusicViewModel

<section class="Sermons_section">
    <div class="container">
        <div class="Sermons_content">
            <h2>Music</h2>
            <div class="inner_search_bar">

                <div class="search_bar">
                    <input class="form-control" type="text" name="q" id="q" placeholder="Search" onkeydown="handleKeyDown(event)">
                    <img src="/img/search.svg" alt="" onclick="performSearch()">
                </div>
                <div class="showing_arrow">
                    @if (Model.PreviousPage != 0)
                    {
                        @if (Model.PreviousPage == 1) {
                            <a class="left_arrow" asp-controller="Music" asp-action="Index">
                                <img src="/img/left-arrow 1.svg" alt="">
                            </a>
                        } else {
                            <a class="left_arrow" asp-controller="Music" asp-action="Index" asp-route-page="@Model.PreviousPage">
                                <img src="/img/left-arrow 1.svg" alt="">
                            </a>
                        }
                    }

                    <span>Showing @((Model.CurrentPage - 1) * Model.PageSize + 1) - @(Model.Data.Count + (Model.CurrentPage-1) * Model.PageSize) / @Model.TotalCount</span>

                    @if (Model.NextPage != 0)
                    {
                        <a class="left_arrow" asp-controller="Music" asp-action="Index" asp-route-page="@Model.NextPage">
                            <img src="/img/right-arrow 1.svg" alt="">
                        </a>
                    }

                </div>
            </div>

            @foreach (var m in Model.Data)
            {
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Music" asp-action="Detail" asp-route-id="@m.Id">
                            <h4>@m.Title</h4>
                            @if (!string.IsNullOrWhiteSpace(m.SubTitle))
                            {
                            <span>@m.SubTitle</span>
                            }
                        </a>
                    </div>
                    <div class="sermons_date">
                        @if (!string.IsNullOrWhiteSpace(m.PdfUrl))
                        {
                            <a class="nounderline sermons_values" asp-controller="Music" asp-action="PDF" asp-route-id="@m.Id"><span>PDF</span></a>
                            <span>•</span>
                        }
                        @if (!string.IsNullOrWhiteSpace(m.FileUrl))
                        {
                            <a class="nounderline sermons_values" asp-controller="Music" asp-action="MP3" asp-route-id="@m.Id"><span>MP3</span></a>
                            <span>•</span>
                        }
                        <a class="nounderline sermons_values" asp-controller="Music" asp-action="Detail" asp-route-id="@m.Id"><span>Video</span></a>
                    </div>
                </div>
            }

            @*<div class="inner_valus_data">
                <div class="sermons_values">
                    <h4>Song Name</h4>
                    <span>Small Font</span>
                </div>
                <div class="sermons_date">
                    <span>PDF</span>
                    <span>•</span>
                    <span>MP3</span>
                    <span>•</span>
                    <span>Video</span>
                </div>
            </div>*@

        </div>
    </div>
</section>



<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" asp-controller="Home" asp-action="Contact"> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->

<script type="text/javascript">

    function performSearch() {
        // Get the value from the input field
        var inputValue = document.getElementById("q").value;
        if (inputValue.length < 3) {
            return;
        }
        // Construct the URL with the query parameter
        var redirectUrl = "/Music/Search?q=" + encodeURIComponent(inputValue);

        // Redirect the browser to the new URL
        window.location.href = redirectUrl;
    }

    function handleKeyDown(event) {
        // Check if the pressed key is "Enter" (key code 13)
        if (event.keyCode === 13) {
            // Prevent the default behavior (form submission)
            event.preventDefault();

            // Trigger the search function
            performSearch();
        }
    }

</script>