@{
    ViewData["Title"] = "The Kings Congreation";
}
@model List<Music>

<section class="Sermons_section">
    <div class="container">
        <div class="Sermons_content">
            <h2>Music Search Results</h2>
            <div class="inner_search_bar">

                <div class="search_bar">
                    <input class="form-control" type="text" name="q" id="q" placeholder="Search" onkeydown="handleKeyDown(event)">
                    <img src="/img/search.svg" alt="" onclick="performSearch()">
                </div>
                <div class="showing_arrow">
                    <span>Showing @Model.Count Search Results</span>
                </div>
            </div>

            @foreach (var m in @Model)
            {
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Music" asp-action="Detail" asp-route-id="@m.Id">
                            <h4>@m.Title</h4>
                            @if (!string.IsNullOrWhiteSpace(m.SubTitle))
                            {
                                <span>@m.SubTitle</span>
                            }
                        </a>
                    </div>
                    <div class="sermons_date">
                        @if (!string.IsNullOrWhiteSpace(m.PdfUrl))
                        {
                            <a class="nounderline sermons_values" asp-controller="Music" asp-action="PDF" asp-route-id="@m.Id"><span>PDF</span></a>
                            <span>•</span>
                        }
                        @if (!string.IsNullOrWhiteSpace(m.FileUrl))
                        {
                            <a class="nounderline sermons_values" asp-controller="Music" asp-action="MP3" asp-route-id="@m.Id"><span>MP3</span></a>
                            <span>•</span>
                        }
                        <a class="nounderline sermons_values" asp-controller="Music" asp-action="Detail" asp-route-id="@m.Id"><span>Video</span></a>
                    </div>
                </div>
            }

            @*<div class="inner_valus_data">
                    <div class="sermons_values">
                        <h4>Song Name</h4>
                        <span>Small Font</span>
                    </div>
                    <div class="sermons_date">
                        <span>PDF</span>
                        <span>•</span>
                        <span>MP3</span>
                        <span>•</span>
                        <span>Video</span>
                    </div>
                </div>*@

        </div>
    </div>
</section>



<!-- Learn More Section start -->
<section class="learnmore">
    <div class="container">
        <div class="inner_learn">
            <div class="learn_contenet">
                <h2>Want to Learn More?</h2>
            </div>
            <div class="learn_btn">
                <a class="contact_learn_btn" asp-controller="Home" asp-action="Contact"> Contact</a>
            </div>
        </div>
    </div>
</section>
<!-- Learn More Section End -->