@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutAdmin";
}
@model AdminSummary

<section class="Sermons_section">
    <div class="container">
        <div class="Sermons_content">
            <h2>Dashboard</h2>
            <div id="inner">

                @*Sermons*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Sermon">
                            <h4>Sermons</h4>
                            <span>(@Model.SermonsCount)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Sermon"><span>Edit</span></a>
                        <span>•</span>
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="SermonNew"><span>Add</span></a>
                    </div>
                </div>

                @*Short Takes*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="ShortTakeList">
                            <h4>Short Takes</h4>
                            <span>(@Model.ShortTakeCount)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="ShortTakeList"><span>Edit</span></a>
                        <span>•</span>
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="ShortTakeNew"><span>Add</span></a>
                    </div>
                </div>

                @*Music*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Music">
                            <h4>Music</h4>
                            <span>(@Model.MusicCount)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Music"><span>Edit</span></a>
                        <span>•</span>
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="MusicNew"><span>Add</span></a>
                    </div>
                </div>

                @*Staff*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Staff">
                            <h4>Staff</h4>
                            <span>(@Model.StaffCount)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Staff"><span>Edit</span></a>
                        <span>•</span>
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="StaffNew"><span>Add</span></a>
                    </div>
                </div>

                @*HTML Content*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="HtmlContent">
                            <h4>HTML Content</h4>
                            <span>(@Model.HtmlContent)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="HtmlContent"><span>Edit</span></a>
                    </div>
                </div>

                @*Site Settings*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Settings">
                            <h4>Site Settings</h4>
                            <span>(@Model.Settings)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Settings"><span>Edit</span></a>
                    </div>
                </div>

                @*Site Logins*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Logins">
                            <h4>Logins</h4>
                            <span>(@Model.Logins)</span>
                        </a>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" asp-controller="Admin" asp-action="Logins"><span>Edit</span></a>
                    </div>
                </div>

                @*Podcast File*@
                <div class="inner_valus_data">
                    <div class="sermons_values">
                        <div class="nounderline sermons_values">
                            <h4>Apple Podcast XML</h4>
                        </div>
                    </div>
                    <div class="sermons_date">
                        <a class="nounderline sermons_values" href="/podcasts/sermons"><span>View</span></a>
                        <span>•</span>
                        <a class="nounderline sermons_values" onclick="generatePodcast(this); return false;"><span>Update</span></a>
                        <span id="loadergen" style="display:none;" class="loader"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

<script type="text/javascript">

    function generatePodcast(element) {

        $(element).hide();
        $("#loadergen").show();

        var url = "/podcasts/generate";
        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                alert("Podcast Created");
                $(element).show();
                $("#loadergen").hide();
            },
            error: function (error) {
                alert("Unable to create Podcast File");
                $(element).show();
                $("#loadergen").hide();
            }
        });
    }
</script>