@{
    ViewData["Title"] = "Admin - Logins";
    Layout = "_LayoutAdmin";
}
@model List<UserDisplay>

<section class="Sermons_section">
    <div class="container">
        <div class="Sermons_content">
            <h2>Admin - Logins</h2>
            <div id="inner">

            @foreach (var item in Model)
            {
                    <div class="inner_valus_data">
                        <div class="sermons_values">
                            <span class="nounderline sermons_values">
                                @item.Username
                                @if (item.LockOutDate != null)
                                {
                                    <span> (Locked out until @item.LockOutDate)</span>
                                }
                            </span>
                        </div>
                        <div class="sermons_date">
                            <input type="checkbox" id="@item.Id" name="@item.Id"  @(item.IsActive ? "checked" : "") />
                            <label for="@item.Id">Is Enabled</label>
                            <input type="button" value="Save" onclick="save('@item.Id');" />
                        </div>
                    </div>
            }
                
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    function save(key) {

        var isChecked = $("#" + key).is(":checked");

        $.ajax({
            url: '/api/settings/logins/' + key + '/' + isChecked,
            type: 'PATCH',
            processData: false,
            contentType: false,
            success: function (response) {
                alert("Saved");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                var errorMessage = jqXHR.responseText;
                alert(errorMessage);
            }
        });

    }

</script>