@{
    ViewData["Title"] = "Admin - Logins";
    Layout = "_LayoutAdmin";
}
@model List<UserDisplay>

<section class="Sermons_section">
    <div class="container">
        <div class="Sermons_content">
            <h2>Admin - Logins</h2>
            <div id="inner">

            @foreach (var item in Model)
            {
                    <div class="inner_valus_data">
                        <div class="sermons_values">
                            <span class="nounderline sermons_values">
                                @item.Username
                                @if (item.LockOutDate != null)
                                {
                                    <span> (Locked out until @item.LockOutDate)</span>
                                }
                            </span>
                        </div>
                        <div class="sermons_date">
                            @if (item.IsAdmin)
                            {
                                <button onclick="admin('@item.Id', false);">Remove Admin</button>
                            }
                            else
                            {
                                <button onclick="admin('@item.Id', true);">Make Admin</button>
                            }

                            @if (!item.IsActive)
                            {
                                <button onclick="save('@item.Id', this);">Enable Login</button>
                            }

                        </div>
                    </div>
            }
                
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    function admin(key, isadmin) {

        $.ajax({
            url: '/api/settings/admins/' + key + '/' + isadmin,
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (response) {
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                var errorMessage = jqXHR.responseText;
                alert(errorMessage);
            }
        });
    }

    function save(key, button) {

        $.ajax({
            url: '/api/settings/logins/' + key + '/' + true,
            type: 'PATCH',
            processData: false,
            contentType: false,
            success: function (response) {
                $(button).hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                var errorMessage = jqXHR.responseText;
                alert(errorMessage);
            }
        });

    }

</script>