@{
    ViewData["Title"] = "The Kings Congreation";
    Layout = "_LayoutAdmin";
}

@model Music

<section class="sermon_video_btn">
    <div class="container">
        <div class="inner_video_sermons">

            <div class="info_sermon_img">
                <img src="/img/phone-music 1.svg" alt="">
                <span>Admin - Music</span>
            </div>
            <div class="sermons_btns">
                <a class="all_btns_sermon" asp-controller="Admin" asp-action="Index">Admin Home</a>
                <a class="all_btns_sermon" asp-controller="Admin" asp-action="MusicList">All Music</a>
            </div>
        </div>
    </div>
</section>


<section class="sermons_video_section">

    <h3>Edit Music</h3>
    <br />
    <br />

    <div class="container">

        <h4>Details</h4>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="Title" id="itemtitle" value="@Model.Title" />
            <label class="form-label">Title</label>
            <span id="error_itemtitle" style="display:none;" class="text-danger">Title is required</span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" type="date" placeholder="Date Created" id="itemdate" value="@Model.DateCreated.ToString("yyyy-MM-dd")" />
            <label class="form-label">Date Created</label>
            <span id="error_itemdate" style="display:none;" class="text-danger">Date is required</span>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" aria-required="true" placeholder="Video Url" id="itemvideourl" value="@Model.VideoUrl" />
            <label class="form-label">Video Url (optional)</label>
            <span class="text-danger"></span>
        </div>

        <h4>Files</h4>

        <div class="form-floating mb-3">
            <input type="file" class="form-control" aria-required="true" id="itemaudio" placeholder="Audio File" />
            <label class="form-label">Update Audio (optional)</label>
            <span class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input type="file" class="form-control" aria-required="true" id="itempdf" placeholder="Pdf File" />
            <label class="form-label">Update Pdf (optional)</label>
            <span class="text-danger"></span>
        </div>

        <div>
            <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary" onclick="save(); return false;">Save</button>
            <input type="hidden" id="itemid" value="@Model.Id" />
            <input type="hidden" id="itemaudiourl" value="@Model.AudioUrl" />
            <input type="hidden" id="itempdfurl" value="@Model.PdfUrl" />
            <button type="button" class="btn btn-delete" onclick="deleteItem(@Model.Id);">Delete</button>
        </div>

        <br />
        <br />

        <div class="audio_section">
            <span>Audio Preview</span>
            <div class="audio_img">
                <audio controls="controls">
                    <source src="/File/@Model.AudioUrl" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <br />
        <br />

    </div>
</section>

@section Scripts {

    <script type="text/javascript">

        function doSave() {

            var itemId = parseInt($("#itemid").val());

            var inputAudio = $('#itemaudio')[0].files[0];
            var inputPdf = $('#itempdf')[0].files[0];

            const title = $("#itemtitle").val().trim();
            const videoUrl = $("#itemvideourl").val().trim();
            const dateCreated = $("#itemdate").val().trim();

            var formData = new FormData();

            if (inputAudio) {
                formData.append('audio', inputAudio);
            }

            if (inputPdf) {
                formData.append('pdf', inputPdf);
            }

            formData.append('title', title);
            formData.append('videoUrl', videoUrl);
            formData.append('dateCreated', dateCreated);

            $.ajax({
                url: '/api/music/' + itemId,
                type: 'PATCH',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    handleResults();
                },
                error: function (error) {
                    alert("Unable to save, please check your internet connection.");
                }
            });
        }

        function save() {

            const isValid = validateForm();
            console.log(isValid);

            if (!isValid) {
                return;
            }

            doSave();
        }

        function validateForm() {
            const title = $("#itemtitle").val().trim();
            const dateCreated = $("#itemdate").val().trim();

            var isValid = true;

            if (title.length == 0) {
                isValid = false;
                $("#error_itemtitle").show();
            } else {
                $("#error_itemtitle").hide();
            }

            if (dateCreated.length == 0) {
                isValid = false;
                $("#error_itemdate").show();
            } else {
                $("#error_itemdate").hide();
            }

            return isValid;
        }

        function handleResults() {
            var url = $("#allitemslink").attr("href");
            window.location.href = url;
        }

        function deleteItem(itemId) {

            const title = $("#itemtitle").val();
            const messageTitle = "Are you sure you want to delete " + title + "?";
            var isConfirmed = window.confirm(messageTitle);
            if (isConfirmed) {
                runDelete(itemId);
            }
        }

        function runDelete(itemId) {

            const url = '/api/music/' + itemId;
            $.ajax({
                url: url,
                type: 'DELETE',
                dataType: 'json',
                success: function (results) {
                    handleResults();

                },
                error: function (error) {
                    alert("Could not delete, please check your internet connection");
                }
            });
        }

    </script>
}