@{
    ViewData["Title"] = "The Kings Congreation";
}

@model ShortTake

<section class="sermon_video_btn">
    <div class="container">
        <div class="inner_video_sermons">

            <div class="info_sermon_img">
                <img src="/img/info-point 1.svg" alt="">
                <span>Admin - Short Takes</span>
            </div>
            <div class="sermons_btns">
                <a class="all_btns_sermon" asp-controller="Admin" asp-action="ShortTakes">All ShortTakes</a>
                <a class="all_btns_sermon" asp-controller="Admin" asp-action="Index">Admin Home</a>
            </div>
        </div>
    </div>
</section>


<section class="sermons_video_section">
    <div class="container">
        <form enctype="multipart/form-data" asp-action="ShortTake" asp-controller="Admin" asp-route-id="@Model.Id">
            <div class="form-floating mb-3">
                <input class="form-control" aria-required="true" placeholder="Title" id="itemtitle" value="@Model.Title" />
                <label class="form-label">Title</label>
                <span class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" aria-required="true" placeholder="Speaker" id="itemspeaker" value="@Model.Speaker" />
                <label class="form-label">Speaker</label>
                <span class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" aria-required="true" type="date" placeholder="Date Created" id="itemdate" value="@Model.DateCreated.ToShortDateString()" />
                <label class="form-label">Date Created</label>
                <span class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="file" class="form-control" aria-required="true" id="itemfile" placeholder="File" />
            </div>

            <div>
                <button id="submit" type="submit" class="w-100 btn btn-lg btn-primary" onclick="save();">Save</button>
                <input type="hidden" id="itemid" value="@Model.Id" />
                <input type="hidden" id="itemurl" value="@Model.Url" />
            </div>
        </form>
        <br />
        <br />

        <div class="audio_section">
            <span>Audio Preview</span>
            <div class="audio_img">
                <audio controls="controls">
                    <source src="@Model.Url" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

    </div>
</section>



@section Scripts {

    <script type="text/javascript">

        function save() {

            var inputFile = $('#itemfile')[0].files[0];

            if (inputFile) {
                uploadFile(inputFile);
            } else {
                runSave();
            }
        }

        function runSave() {

            const itemId = $("#itemid").val();
            const title = $("#itemtitle").val();
            const speaker = $("#itemspeaker").val();
            const url = $("#itemurl").val();
            const dateCreated = $("#itemdate").val();

            var shortTake = {
                id: itemId,
                title: title,
                speaker: speaker,
                url: url,
                dateCreated: dateCreated
            };

            var jsonString = JSON.stringify(jsonData);

            $.ajax({
                url: '/api/shorttakes/',
                type: 'PATCH',
                contentType: 'application/json',
                data: jsonString,
                success: function (results) {
                    handleResults(results);

                },
                error: function (error) {
                    alert("Paging didn't work,please check your internet connection");
                }
            });
        }

        function uploadFile(file) {
            // Implement your file upload logic here
            // You can use AJAX to send the file to the server
            // For example:
            var formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: '/api/upload',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#itemurl").val(response.FileName);
                    $('#itemfile').val('');
                    runSave();
                },
                error: function (error) {
                    console.error('Error uploading file:', error);
                    // Handle the error
                }
            });
        }

    </script>
}