@{
    ViewData["Title"] = "The Kings Congreation";
}
@model Sermon

<section class="sermon_video_btn">
    <div class="container">
        <div class="inner_video_sermons">

            <div class="info_sermon_img">
                <img src="/img/info-point 1.svg" alt="">
                <span>Sermon</span>
            </div>
            <div class="sermons_btns">
                <a class="all_btns_sermon" asp-controller="Sermons" asp-action="Index">All Sermons</a>
                <a class="all_btns_sermon" asp-controller="Home" asp-action="Resources">Resources</a>
            </div>
        </div>
    </div>
</section>

<section class="sermons_video_section">
    <div class="container">
        <div class="sermons_video_content">
            <span>@Model.Passage</span>
            <h3>@Model.Title</h3>
            <div class="inner_video_date">
                <span>@Model.Speaker</span><span>•</span><span>@Model.DateCreated</span>
            </div>
        </div>
        <div class="sermons_video_img">
            <!-- <img src="assets/img/sermons_video_img.png" alt=""> -->
            <iframe width="100%" height="100%" src="@Model.Url" title="@Model.Title" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen id="video"></iframe>
            <a href="" id="play-video">
                <img class="play_button" src="/img/play_button.svg" alt="">
            </a>
        </div>
        @*<div class="audio_section">
            <span>Audio Transcript</span>
            <div class="audio_img">
                <audio controls>
                </audio>
            </div>
        </div>*@
    </div>
</section>